@charset "utf-8";
@import "normalize";

body {
  background: #fff;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  height: 100vh;
  width: 100vw;
  position: relative;

  img {
    display: block;
    position: absolute;
    width: 512px;
    height: 512px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation-delay: 10s;
    -webkit-animation-delay: 10s;
    animation: spin 10s linear infinite;

    @keyframes spin {
      animation-delay: 10s;
      -webkit-animation-delay: 10s;
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}

